{% extends "layout/base_content_only.html" %}

{% load static %}

{% block title %}Vogue Me || Sign Up{% endblock title %}

{% block style %}
    <link rel="stylesheet" href="{% static "userapp/css/login.css" %}">
    <style>
        .list-group { text-align:left; font-size:13px; }
        .list-group .list-group-item { color:#c3c3c3; padding:0; border:unset; background-color:unset; }
    </style>
{% endblock style %}


{% block content %}
    <div class="login-container">
        <!-- 로고 이미지 -->
        <div class="text-center">
            <img src="https://placehold.co/150x80/ccabd8/055b5c?text=Logo" alt="로고" class="logo-image">
        </div>

        <!-- 회원가입 폼 -->
        <form action="/user/signup/" method="post" class="needs-validation" novalidate>
            {% csrf_token %}
            <div class="mb-3">
                <input type="email" class="form-control" name="email" placeholder="이메일" required>
                <div class="invalid-feedback"></div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="first_name" placeholder="이름" required>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" name="last_name" placeholder="성" required>
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" name="height" placeholder="키(cm)" step="0.1" min="0">
            </div>
            <div class="mb-3">
                <input type="date" class="form-control" name="birthday" placeholder="생일">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password1" placeholder="비밀번호" required>
                <ul class="list-group" id="passwordRules">
                    <li class="list-group-item" id="rule-lower">❓ 소문자 포함</li>
                    <li class="list-group-item" id="rule-upper">❓ 대문자 포함</li>
                    <li class="list-group-item" id="rule-number">❓ 숫자 포함</li>
                    <li class="list-group-item" id="rule-special">❓ 특수기호 ! @ # $ % ^ & * ( ) 중 하나 이상 포함</li>
                    <li class="list-group-item" id="rule-length">❓ 길이 8자 이상</li>
                </ul>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="password2" placeholder="비밀번호 확인" required>
                <div class="invalid-feedback">
                    입력하신 비밀번호와 다릅니다.
                </div>
            </div>
            <button type="submit" class="btn btn-primary w-100">회원가입</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'js/signup.js' %}"></script>
    <script>
        init_email_dup("{% url "userapp:check_email_dup" %}");
        init_passwd_rule_checker();
        init_name_checker(document.getElementsByName("first_name")[0]);
        init_name_checker(document.getElementsByName("last_name")[0]);
    </script>
    <script>
    {% if form.errors.items %}
        let $ele, $msg;
    {% endif %}
{% for field, errors in form.errors.items %}
    {% if field == "email" or field == "password2" %}
        $ele = document.querySelector("[name={{ field }}]");
        $msg = $ele.nextElementSibling;
        $msg.innerHTML = "&middot; {{ errors.0 }}";
        _valid($ele, false);
    {% elif field == "password1" %}
        $ele = document.querySelector("[name={{ field }}]");
        $ele.dispatchEvent(new Event('input', { bubbles: true }));
    {% endif %}
{% endfor %}
    </script>
{% endblock script %}