.openning-screen {
  display: flex;
  flex-direction:column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height:100%;
  position:relative;
}

.openning-screen .div {
  width: 393px;
  height: 852px;
  position: relative;
}

.btn {
  width: 353px;
  position: absolute;
}
.button-primary { top: 642px; box-shadow:0 13px 20px -10px black; }
.button-secondary { top: 712px; box-shadow: 0 13px 20px -10px; }

.openning-screen .overlap-group {
  position: absolute;
  top: 216px;
  width: 319px;
  height: 105px;
}

.openning-screen .screenshot {
  width: 319px;
  height: 86px;
  aspect-ratio: 3.69;
  object-fit: cover;
}

.openning-screen .text-wrapper-2 {
  width: 319px;
  position: absolute;
  top: 85px;
  font-weight: 400;
  font-size: 16px;
  color: #667085b2;
  text-align: center;
  line-height: 20px;
}