/* START :: top-area ******************************/
#top-area {
  display:flex;
  gap:10px;
  padding:20px;
  border-bottom:1px solid lightgray;
  position:fixed;
  top:0;
  width:100%;
  max-width:500px;
}

#top-area .profile-image-wrap {
  display:inline-block;
  position: relative;
  width:44px;
  height:44px;
}

#top-area .profile-image {
  display:inline-block;
  width:44px;
  height:44px;
  border:50px;
  text-decoration:none;
  overflow:hidden;
  position:relative;
  border-radius:30px;
}
#top-area .profile-image img {
  width:100%;
  height:100%;
}
#top-area .dot {
  position:absolute;
  right:2px;
  bottom:2px;
  width:8px;
  height:8px;
  display:inline-block;
  border-radius:6px
}
.dot.green {
  background-color: #2BEF83;
}

#top-area .profile-name-wrap {
  width:200px;
  height:44px;
  display:flex;
  flex-direction:column;
  align-content: start;
  justify-content: center;
  gap: 5px;
}
#top-area .profile-name-wrap .profile-state {
  color:#797C7B;
  font-size:12px;

}
/* END :: top-area ********************************/


/* START :: chat-area *****************************/
#chat-area {
  height:calc(100% - 192px);
  margin-bottom:20px;
  overflow-y:scroll;
  position:absolute;
  top:85px;
  width:100%;
  max-width:498px;
}
#chat-area .chat {
  width:calc(100% - 20px);
  max-width:480px;
  font-family:"Encode Sans", 'Noto Sans KR', sans-serif;
  display:flex;
  gap:10px;
  margin:0 10px;
  padding:15px 0;
  position:relative;
}
#chat-area .chat .profile-image {
  width:44px;
  min-width:44px;
  height:44px;
  min-height:44px;
  border:1px solid lightgray;
  border-radius:40px;
}
#chat-area .chat .msg {
  border-radius:20px;
  box-shadow:0 8px 20px -6px black;
  padding:10px;
  max-width:65%;
  min-width:70px;
}


#chat-area .chat .msg .text {
  margin-bottom:15px;
}

#chat-area .chat .msg .style_result * {
  text-decoration:none;
  color:white;
}
#chat-area .chat .msg .style_result ul {
  overflow-x:scroll;
  display:flex;
  gap:10px;
  height:260px;
}
#chat-area .chat .msg .style_result ul li {
  position: relative;
  height:240px;
}

#chat-area .chat .msg .style_result ul li .look-link {

  width:180px;
  height:240px;
  overflow:hidden;
}
#chat-area .chat .msg .style_result ul li .look-image {
  display:block;
  width:180px;
  height:240px;
  border-radius:30px;
}
#chat-area .chat .msg .style_result ul li .inner-shadow {
  position:absolute;
  border-radius:30px;
  top:0;
  width:100%;
  height:100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 0, rgba(0, 0, 0, 0) 50%);
}
#chat-area .chat .msg .style_result ul li .look-name {
  display:block;
  width:85%;
  position: absolute;
  bottom:65px;
  left:15px;
}
#chat-area .chat .msg .style_result ul li .look-desc {
  display:block;
  width:85%;
  position: absolute;
  bottom:28px;
  left:15px;
}



#chat-area .chat.ai .msg {
  background-color:#F2F7FB;
  border-top-left-radius:0;
}

#chat-area .chat.user {
  flex-direction:row-reverse;
}
#chat-area .chat.user .msg {
  background-color:#20A090;
  border-top-right-radius: 0;
  color:white;
}


/* START :: chat-area :: voice *****************************/
#chat-area .voice {
  margin-top:15px;
  display:flex;
  align-items: center;
}
#chat-area .voice audio{
  max-width:100%;
}
/*#chat-area .voice .play_btn {*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*  width:40px;*/
/*  height:40px;*/
/*  border-radius:30px;*/
/*  background-color:white;*/
/*}*/
/*#chat-area .voice .play_btn img {*/
/*  width:20px;*/
/*  height:20px;*/
/*}*/
/* END :: chat-area :: voice *****************************/


#chat-area .text {
  font-size:12px;
}
#chat-area .chat-time {
  color:#797C7B;
  font-size:10px;
  align-self: end;

}



/* END :: chat-area *******************************/


/* START :: typing-area ***************************/
#typing-area {
  padding:20px 0 30px;
  display:flex;
  justify-content: center;
  align-items: center;
  gap:15px;
  border-top:1px solid lightgray;
  width:100%;
  max-width:500px;
  position:fixed;
  bottom:0;
  z-index:99;
}

#typing-area img {
  width:20px;
}

#typing-area .chatbox {
  display:inline-block;
  width: 75%;
  position:relative;
}
#typing-area .chatbox textarea {
  width: 100%;
  padding: 10px;
  padding-right:45px;
  background-color: #F3F6F6;
  border: 0;
  border-radius: 12px;
}
#typing-area .chatbox img {
  position:absolute;
  top:13px;
  right:10px;
  width:28px;
}
/* END :: typing-area ******************************/