.login-container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.logo-image {
    width: 150px;
    height: auto;
    margin-bottom: 1.5rem;
}
.form-control {
    border-radius: 0.5rem;
    border: 1px solid #ccc;
}
.btn-primary {
    background-color: #8474a1;
    border-color: #8474a1;
    border-radius: 0.5rem;
}
.btn-primary:hover {
    background-color: #72648d;
    border-color: #72648d;
}
.sns-login-btn {
    padding:0;
    border:1px solid gray;
    border-radius:4px;
    overflow:hidden;
    width:300px;
    cursor:pointer;
}
.sns-login-btn:nth-child(n+1) {
    margin-top:3px;
}

.sns-login-btn:hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.sns-login-row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;
}
.sns-login-row .btn {
    flex-grow: 1;
    padding: 0.75rem;
    border-radius: 50%;
    font-size: 1.25rem;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 구글 로그인/회원가입 버튼 */
.gsi-material-button {
    width:300px;
    height:47px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -webkit-appearance: none;
    background-color: WHITE;
    background-image: none;
    border: 1px solid #747775;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #1f1f1f;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    letter-spacing: 0.25px;
    outline: none;
    overflow: hidden;
    padding: 0 12px;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .218s, border-color .218s, box-shadow .218s;
    transition: background-color .218s, border-color .218s, box-shadow .218s;
    vertical-align: middle;
    white-space: nowrap;
    max-width: 400px;
    min-width: min-content;
}

.gsi-material-button .gsi-material-button-icon {
    height: 20px;
    margin-right: 12px;
    min-width: 20px;
    width: 20px;
}

.gsi-material-button .gsi-material-button-content-wrapper {
    -webkit-align-items: center;
    align-items: center;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 100%;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.gsi-material-button .gsi-material-button-contents {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    font-family: 'Roboto', arial, sans-serif;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}

.gsi-material-button .gsi-material-button-state {
    -webkit-transition: opacity .218s;
    transition: opacity .218s;
    bottom: 0;
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.gsi-material-button:disabled {
    cursor: default;
    background-color: #ffffff61;
    border-color: #1f1f1f1f;
}

.gsi-material-button:disabled .gsi-material-button-contents {
    opacity: 38%;
}

.gsi-material-button:disabled .gsi-material-button-icon {
    opacity: 38%;
}

.gsi-material-button:not(:disabled):active .gsi-material-button-state,
.gsi-material-button:not(:disabled):focus .gsi-material-button-state {
    background-color: #303030;
    opacity: 12%;
}

.gsi-material-button:not(:disabled):hover {
    -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, .30), 0 1px 3px 1px rgba(60, 64, 67, .15);
}

.gsi-material-button:not(:disabled):hover .gsi-material-button-state {
    background-color: #303030;
    opacity: 8%;
}


/* Naver 로그인 버튼 */
.naver-login-btn {
    display:inline-block; width:300px; height:47px;background-color: #03C75A;
    text-decoration:none;
}
.naver-login-btn > div {
    height:100%; margin:0 5px;
}
.naver-login-btn > div .sns-logo-box {
    margin:0;
    margin-left:8px;
    display:inline-block;
    height:19px;
}
.naver-login-btn > div .sns-logo-box img {
    width:19px;height:19px;vertical-align:middle;
}
.naver-login-btn > div .sns-text-box {
    display:inline-block;width:calc(100% - 32px);height:100%;
}
.naver-login-btn > div .sns-text-box div {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    color:white;
    font-size:14px;
}