{% extends "layout/base_content_only.html" %}

{% load static %}

{% block title %}LoopLabel | 지구의 회복을 이어주는 라벨{% endblock title %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/mainapp/index.css' %}">
{% endblock style %}


{% block content %}
    {% csrf_token %}
    <div id="top-area">
        <span class="profile-image-wrap">
            <a href="javascript:;" class="profile-image">
                <img src="{{ last_ai.image }}">
            </a>
            <p class="dot green"></p>
        </span>
        <span class="profile-name-wrap">
            <div>{{ last_ai.name }}</div>
            <div class="profile-state">Active now</div>
        </span>
    </div>
    <div id="chat-area">
        <div class="chat ai">
            <img class="profile-image" src="{{ last_ai.image}}">
            <div class="msgbox">
                <div class="talker-name">{{ last_ai.name }}</div>
                <div class="msg">
                    {# Text 부분 ########################################}
                    <div class="text">
<pre>
감사합니다, 지훈님! 🎉
말씀해주신 정보 꼼꼼히 확인했어요 😊
이제 지훈님께 딱 맞는 스타일을 추천해드릴게요!

혹시 지금 어떤 상황이나 스타일이 필요하신가요? 예를 들면 이런 것들이 있어요:

✨ 데이트룩
👔 오피스룩
👟 캐주얼 데일리
🍂 계절별 추천 (가을 코디 등)

원하시는 방향을 알려주시면, 진경이가 센스 있게 코디를 골라드릴게요 💫
</pre>
                    </div>
                    {# 검색된 룩 조회 부분 ########################################}
                    <div class="style_result">
                        <ul>
                            <li>
                                <a class="look-link" href="{% url "mainapp:detail" 9 %}">
                                    <div>
                                        <img class="look-image" src="{% static "images/dummy/dummy_look_1.jpg" %}">
                                        <div class="inner-shadow"></div>
                                    </div>
                                    <span class="look-name">스마트 캐주얼</span>
                                    <span class="look-desc">💼 클래식하고 단정한 재활용울 수트룩</span>
                                </a>
                            </li>
                            <li>
                                <a class="look-link" href="{% url "mainapp:detail" 11 %}">
                                    <div>
                                        <img class="look-image" src="{% static "images/dummy/dummy_look_2.jpg" %}">
                                        <div class="inner-shadow"></div>
                                    </div>
                                    <span class="look-name">미니멀 테일러드</span>
                                    <span class="look-desc">✨ 가볍고 활동성 높은 리사이클 셋업룩</span>
                                </a>
                            </li>
                            <li>
                                <a class="look-link" href="{% url "mainapp:detail" 3 %}">
                                    <div>
                                        <img class="look-image" src="{% static "images/dummy/dummy_look_1.jpg" %}">
                                        <div class="inner-shadow"></div>
                                    </div>
                                    <span class="look-name">스마트 캐주얼</span>
                                    <span class="look-desc">💼 클래식하고 단정한 재활용울 수트룩</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    {# 목소리 재생 부분 ########################################}
                    <div class="voice">
                        {#                    <div class="play_btn"><img src="{% static "images/chatroom/play_btn.svg" %}"></div>#}
                        {#                    <ul class="sound-wave"></ul>#}
                        {#                    <span class="time-laps">00:34</span>#}
                        <audio controls disableRemotePlayback="false" loop="false" src="{% static "dummy/dummy_sound.mp3" %}">브라우저가 오디오를 지원하지 않습니다.</audio>
                    </div>
                    {#                <div class="custom-audio-player">#}
                    {#                    <button id="playPauseButton">Play</button>#}
                    {#                    <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1">#}
                    {#                    <input type="range" id="progressBar" min="0" max="100" value="0">#}
                    {#                    <span id="currentTime">0:00</span> / <span id="duration">0:00</span>#}
                    {#                </div>#}
                </div>
            </div>

            <span class="chat-time">09:27 AM</span>
        </div>
    </div>
    <div id="typing-area">
        <a href="javascript:alert('안되지롱');"><img class="attach_icon" src="{% static "images/chatroom/attach.svg" %}"></a>
        <div class="chatbox">
            <textarea class="user_input" rows="2" placeholder="메시지를 입력하세요."></textarea>
            <a href="javascript:;"><img class="send_chat_icon" src="{% static "images/chatroom/send_chat.svg" %}"></a>
        </div>
        <a href="javascript:alert('안되지롱');"><img class="mic_icon" src="{% static "images/chatroom/mic.svg" %}"></a>
    </div>

    <template id="tmpl-chat">
        <div class="chat">
            <img class="profile-image" src="{# 이미지 주소 #}">
            <div class="msgbox">
                <div class="talker-name">{# 화자 이름 #}</div>
                <div class="msg">
                    {# Text 부분 ########################################}
                    <div class="text">{# 대화 내용 #}</div>
                    {# 검색된 룩 조회 부분 ########################################}
                    <div class="style_result">
                        <ul>{# 스타일 정보를 li 로 묶음 #}</ul>
                    </div>
                    <div class="text optional">{# 추가 텍스트 #}</div>
                    <div class="voice">
                        <audio controls disableRemotePlayback="false" loop="false" src="{% static "dummy/dummy_sound.mp3" %}">브라우저가 오디오를 지원하지 않습니다.</audio>
                    </div>
                </div>
            </div>
            <span class="chat-time">{# 대화 시간 #}</span>
        </div>
    </template>
    <template id="tmpl-style">
        <li>
            <a class="look-link" href="">
                <div>
                    <img class="look-image" src="">
                    <div class="inner-shadow"></div>
                </div>
                <span class="look-name">스마트 캐주얼</span>
                <span class="look-desc">💼 클래식하고 단정한 재활용울 수트룩</span>
            </a>
        </li>
    </template>
{% endblock content %}


{% block script %}
    <script>
        const AI_INFO = {
            "image" : "{{ last_ai.image }}",
            "name"  : "{{ last_ai.name }}"
        };
        const USER_INFO = {
            "image" : "{{ user.member.photo_url }}",
            "name"  : "{{ user.first_name }}"
        };
        const ASK_API_URL = "{% url "apiapp:ask_api" %}";
    </script>
    <script src="{% static "js/mainapp/index.js" %}"></script>
{% endblock script %}