{% extends "layout/base_content_only.html" %}

{% load static %}

{% block title %}LoopLabel | 지구의 회복을 이어주는 라벨{% endblock title %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/mainapp/index.css' %}">
{% endblock style %}


{% block content %}
    <div id="top-area">
        <span class="profile-image-wrap">
            <a href="javascript:;" class="profile-image">
                <img src="https://www.icreta.com/files/attach/images/319/275/055/8e2c1590a474a9afb78c4cb23a9af5b2.jpg">
            </a>
            <p class="dot green"></p>
        </span>
        <span class="profile-name-wrap">
            <div>진경</div>
            <div class="profile-state">Active now</div>
        </span>
    </div>
    <div id="chat-area">
        <div class="chat ai">
            <img class="profile-image" src="https://www.icreta.com/files/attach/images/319/275/055/8e2c1590a474a9afb78c4cb23a9af5b2.jpg">
            <div class="msg">
                {# Text 부분 ########################################}
                <div class="text">
<pre>
감사합니다, 지훈님! 🎉
말씀해주신 정보 꼼꼼히 확인했어요 😊
이제 지훈님께 딱 맞는 스타일을 추천해드릴게요!

혹시 지금 어떤 상황이나 스타일이 필요하신가요? 예를 들면 이런 것들이 있어요:

✨ 데이트룩
👔 오피스룩
👟 캐주얼 데일리
🍂 계절별 추천 (가을 코디 등)

원하시는 방향을 알려주시면, 진경이가 센스 있게 코디를 골라드릴게요 💫
</pre>
                </div>
                {# 검색된 룩 조회 부분 ########################################}
                <div class="style_result">
                    <ul>
                        <li>
                            <a class="look-link" href="{% url "mainapp:detail" 1 %}">
                                <div>
                                    <img class="look-image" src="{% static "images/dummy/dummy_look_1.jpg" %}">
                                    <div class="inner-shadow"></div>
                                </div>
                                <span class="look-name">스마트 캐주얼</span>
                                <span class="look-desc">💼 클래식하고 단정한 재활용울 수트룩</span>
                            </a>
                        </li>
                        <li>
                            <a class="look-link" href="{% url "mainapp:detail" 2 %}">
                                <div>
                                    <img class="look-image" src="{% static "images/dummy/dummy_look_2.jpg" %}">
                                    <div class="inner-shadow"></div>
                                </div>
                                <span class="look-name">미니멀 테일러드</span>
                                <span class="look-desc">✨ 가볍고 활동성 높은 리사이클 셋업룩</span>
                            </a>
                        </li>
                        <li>
                            <a class="look-link" href="{% url "mainapp:detail" 3 %}">
                                <div>
                                    <img class="look-image" src="{% static "images/dummy/dummy_look_1.jpg" %}">
                                    <div class="inner-shadow"></div>
                                </div>
                                <span class="look-name">스마트 캐주얼</span>
                                <span class="look-desc">💼 클래식하고 단정한 재활용울 수트룩</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {# 목소리 재생 부분 ########################################}
                <div class="voice">
{#                    <div class="play_btn"><img src="{% static "images/chatroom/play_btn.svg" %}"></div>#}
{#                    <ul class="sound-wave"></ul>#}
{#                    <span class="time-laps">00:34</span>#}
                    <audio controls disableRemotePlayback="false" loop="false" src="{% static "dummy/dummy_sound.mp3" %}">브라우저가 오디오를 지원하지 않습니다.</audio>
                </div>
{#                <div class="custom-audio-player">#}
{#                    <button id="playPauseButton">Play</button>#}
{#                    <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1">#}
{#                    <input type="range" id="progressBar" min="0" max="100" value="0">#}
{#                    <span id="currentTime">0:00</span> / <span id="duration">0:00</span>#}
{#                </div>#}
            </div>
            <span class="chat-time">09:27 AM</span>
        </div>
        <div class="chat user">
            <img class="profile-image" src="https://www.icreta.com/files/attach/images/319/275/055/8e2c1590a474a9afb78c4cb23a9af5b2.jpg">
            <div class="msg">
                {# Text 부분 ########################################}
                <div class="text">
<pre>
감사합니다, 지훈님! 🎉
말씀해주신 정보 꼼꼼히 확인했어요 😊
이제 지훈님께 딱 맞는 스타일을 추천해드릴게요!

혹시 지금 어떤 상황이나 스타일이 필요하신가요? 예를 들면 이런 것들이 있어요:

✨ 데이트룩
👔 오피스룩
👟 캐주얼 데일리
🍂 계절별 추천 (가을 코디 등)

원하시는 방향을 알려주시면, 진경이가 센스 있게 코디를 골라드릴게요 💫
</pre>
                </div>
                {# 검색된 룩 조회 부분 ########################################}
                <div class="style_result">
                    <ul>
                        <li>
                            <a class="look-link" href="{% url "mainapp:detail" 1 %}">
                                <div>
                                    <img class="look-image" src="{% static "images/dummy/dummy_look_1.jpg" %}">
                                    <div class="inner-shadow"></div>
                                </div>
                                <span class="look-name">스마트 캐주얼</span>
                                <span class="look-desc">💼 클래식하고 단정한 재활용울 수트룩</span>
                            </a>
                        </li>
                        <li>
                            <a class="look-link" href="{% url "mainapp:detail" 2 %}">
                                <div>
                                    <img class="look-image" src="{% static "images/dummy/dummy_look_2.jpg" %}">
                                    <div class="inner-shadow"></div>
                                </div>
                                <span class="look-name">미니멀 테일러드</span>
                                <span class="look-desc">✨ 가볍고 활동성 높은 리사이클 셋업룩</span>
                            </a>
                        </li>
                        <li>
                            <a class="look-link" href="{% url "mainapp:detail" 3 %}">
                                <div>
                                    <img class="look-image" src="{% static "images/dummy/dummy_look_1.jpg" %}">
                                    <div class="inner-shadow"></div>
                                </div>
                                <span class="look-name">스마트 캐주얼</span>
                                <span class="look-desc">💼 클래식하고 단정한 재활용울 수트룩</span>
                            </a>
                        </li>
                    </ul>
                </div>
                {# 목소리 재생 부분 ########################################}
                <div class="voice">
{#                    <div class="play_btn"><img src="{% static "images/chatroom/play_btn.svg" %}"></div>#}
{#                    <ul class="sound-wave"></ul>#}
{#                    <span class="time-laps">00:34</span>#}
                    <audio controls disableRemotePlayback="false" loop="false" src="{% static "dummy/dummy_sound.mp3" %}">브라우저가 오디오를 지원하지 않습니다.</audio>
                </div>
{#                <div class="custom-audio-player">#}
{#                    <button id="playPauseButton">Play</button>#}
{#                    <input type="range" id="volumeSlider" min="0" max="1" step="0.01" value="1">#}
{#                    <input type="range" id="progressBar" min="0" max="100" value="0">#}
{#                    <span id="currentTime">0:00</span> / <span id="duration">0:00</span>#}
{#                </div>#}
            </div>
            <span class="chat-time">09:27 AM</span>
        </div>
    </div>
    <div id="typing-area">
        <a href="javascript:alert('안되지롱');"><img class="attach_icon" src="{% static "images/chatroom/attach.svg" %}"></a>
        <div class="chatbox">
            <textarea class="user_input" rows="2" placeholder="메시지를 입력하세요."></textarea>
            <a href="javascript:;"><img class="send_chat_icon" src="{% static "images/chatroom/send_chat.svg" %}"></a>
        </div>
        <a href="javascript:alert('안되지롱');"><img class="mic_icon" src="{% static "images/chatroom/mic.svg" %}"></a>
    </div>

    <template id="tmpl-chat">
        <div class="chat">
            <img class="profile-image" src="">
            <div class="msg">
                {# Text 부분 ########################################}
                <div class="text"></div>
                {# 검색된 룩 조회 부분 ########################################}
                <div class="style_result">
                    <ul></ul>
                </div>
                {# 목소리 재생 부분 ########################################}
                <div class="voice">
                    <audio controls disableRemotePlayback="false" loop="false" src="{% static "dummy/dummy_sound.mp3" %}">브라우저가 오디오를 지원하지 않습니다.</audio>
                </div>
            </div>
            <span class="chat-time">09:27 AM</span>
        </div>
    </template>
    <template id="tmpl-style">
        <li>
            <a class="look-link" href="">
                <div>
                    <img class="look-image" src="">
                    <div class="inner-shadow"></div>
                </div>
                <span class="look-name">스마트 캐주얼</span>
                <span class="look-desc">💼 클래식하고 단정한 재활용울 수트룩</span>
            </a>
        </li>
    </template>
{% endblock content %}


{% block script %}
    <script>
        const $room      = document.getElementById("chat-area");
        const $tmplChat  = document.getElementById("tmpl-chat").content;
        const $tmplStyle = document.getElementById("tmpl-style").content;
        const TYPE       = {USER:"user", AI:"ai"};
        const curTime = () => {
            let now  = new Date();
            let hour = now.getHours();
            let min  = now.getMinutes();
            let ampm;

            ampm = hour >= 12 ? "PM" : "AM";
            hour = (hour < 10 ? "0" : "") + hour;
            min  = (min  < 10 ? "0" : "") + min;
            return `${hour}:${min} ${ampm}`;
        }
        const addChat = (type, msg, list, voice) => {
            let profileImage = "https://www.icreta.com/files/attach/images/319/275/055/8e2c1590a474a9afb78c4cb23a9af5b2.jpg";

            type = Object.values(TYPE).includes(type) ? type : TYPE.AI;
            if( type === TYPE.USER ) {
                profileImage = "user_profile_image.jpg";
            }

            let $chat = $tmplChat.cloneNode(true);
            $chat.querySelector(".chat").classList.add(type);
            $chat.querySelector(".profile-image").src = profileImage;
            $chat.querySelector(".text").innerHTML = msg.replace(/\r/g,"").replace(/\n/g, "<br/>");
            $chat.querySelector(".chat-time").innerText = curTime();

            let $ul = $chat.querySelector("ul");
            list = list || [];
            if( ! list.length )
                $chat.querySelector(".style_result").remove();
            else {
                for(let i in list) {
                    let data = list[i];
                    let $li  = $tmplStyle.cloneNode(true);
                    $li.querySelector(".look-link").href = `/detail/${data["id"]}`;
                    $li.querySelector(".look-image").src = data["image"];
                    $li.querySelector(".look-name").innerText = data["look_name"];
                    $li.querySelector(".look-desc").innerText = data["look_desc"];

                    $ul.appendChild($li);
                }
            }

            if( voice )     $chat.querySelector(".voice audio").src = voice;
            else            $chat.querySelector(".voice").remove();

            $room.appendChild($chat);
        }

        Object.freeze(TYPE);
    </script>

    <script>
        const sendQuery = (msg) => {
            console.log("send :: "+msg)
        }
    </script>

    <script>
        const $userInput = document.querySelector(".user_input");
        const $sendBtn   = document.querySelector(".chatbox a");
        $sendBtn.addEventListener("click", e => {
            const msg = $userInput.value;
            sendQuery(msg);
            addChat(TYPE.USER, msg)
            $userInput.value = "";
        });

        $userInput.addEventListener("keydown", e => {
            let isEnter = e.key === "Enter";
            e.ctrlKey && isEnter && $sendBtn.click();
        });
    </script>
{% endblock script %}