{% extends "layout/base_content_with_gnb.html" %}

{% load static %}

{% block title %}Vogue Me || Welcome!{% endblock title %}


{% block style %}
    <link rel="stylesheet" href="{% static 'css/our_team.css' %}">
{% endblock style %}


{% block content %}
    <div class="team-section">
        <h1>우리 팀을 소개합니다</h1>
        <p>저희는 혁신적인 아이디어를 현실로 만드는 열정적인 팀입니다. 다양한 배경과 경험을 가진 전문가들이 모여 최고의 결과물을 위해 협력하고 있습니다.</p>

        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
                <!-- Team Member 3 -->
                <div class="col">
                    <div class="team-member-card">
                        <div class="img-container">
                            <img src="https://placehold.co/150x150/6ec6ca/000000?text=성렬" alt="조성렬">
                        </div>
                        <h5>조성렬</h5>
                        <p>소리없이 강하다, 레X자</p>
                        <div class="email">csr19685@gmail.com</div>
                    </div>
                </div>
                <!-- Team Member 1 -->
                <div class="col">
                    <div class="team-member-card">
                        <div class="img-container">
                            <img src="https://placehold.co/150x150/ccabd8/000000?text=이서" alt="윤이서">
                        </div>
                        <h5>윤이서</h5>
                        <p>이게 너와 나의 눈높이 차이다.</p>
                        <div class="email">gemyiseo@gmail.com</div>
                    </div>
                </div>
                <!-- Team Member 2 -->
                <div class="col">
                    <div class="team-member-card">
                        <div class="img-container">
                            <img src="https://placehold.co/150x150/8474a1/000000?text=지환" alt="공지환">
                        </div>
                        <h5>공지환</h5>
                        <p>내... 내 왼손의 흑염룡이 날뛴다!</p>
                        <div class="email">sajong25@gmail.com</div>
                    </div>
                </div>
                <!-- Team Member 4 -->
                <div class="col">
                    <div class="team-member-card">
                        <div class="img-container">
                            <img src="https://placehold.co/150x150/08979d/000000?text=지훈" alt="송지훈">
                        </div>
                        <h5>송지훈</h5>
                        <p>해... 해치웠나?!</p>
                        <div class="email">sksmsvlxk@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}


{% block script %}{% endblock script %}